*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    border: border-box;

}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
   height: 50px; 
   width: 100px;
}

.logo{
  background-image:url("image.png") ;
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-icon{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius:2px;
}

.search:hover{
    border: 2px solid orange;
}

.search-all{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    border: none;
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon{
 width: 45px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2rem;
 background-color: #febd68;
 color: #0f1111;
 border: none;
 border-bottom-right-radius: 2px;
 border-top-right-radius: 2px;
}

.nav-signin{
    
}

span{
    font-size: 0.7rem;
}

.accounts{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
     font-size: 28px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section{
    background-image: url("Background.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-message{
 background-color: white;
 color: black;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 0.85rem;
 width: 80%;
 margin-bottom: 20px;
}

.shop-section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: gray;
}

.box{
    /* border: 2px solid black; */
    width: 23%;
    height: 400px;
    margin-top: 15px;
    background-color: white;
    padding: 20px 0px 15px;
}

.box-img{
    /* background-image: url("care.jpg"); */
    height: 300px;
    background-size: cover;
    /* border: 1px solid black; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    /* margin-top: -10px; */
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

.fool-panel{
    background-color:#37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul{
    margin-top: 20px;
}

.foot-panel2 ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border: 2px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("image.png");
    background-size:cover;
    height: 50px;
    width: 100px;
}